////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////   ABOUT   ////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 2400px) {
	.about-me-text {
		font-size: 2em !important;
	}
	.about-me-title {
		font-size: 6em;
	}
}
@media screen and (min-width: 1900px) {
	.about-me-text {
		font-size: 1.5em !important;
	}
	.about-me-title {
		font-size: 5em !important;
	}
}
@media screen and (max-width: 1568px) {
	.about-me-box {
		margin-top: 5%;
	}
}
@media screen and (max-width: 1500px) {
	.photo-col {
		height: 100%;
		margin-bottom: 5%;
	}
}
@media screen and (max-width: 1282px) {
	.photo-col {
		margin-bottom: 10%;
	}
}

@media screen and (max-width: 1023px) {
	.about-me-desktop {
		display: none;
	}
	.about-me-mobile {
		display: flex;
	}
	.tech-box {
		align-items: center;
	}
	.tech-stacks {
		h1 {
			font-size: 24px;
		}
	}
	.tech-icon {
		margin: 2px;
		font-size: 6vw;
	}
	.tech-container {
		margin-top: 5%;
	}
	.techDisplay {
		justify-content: center;
	}
}
@media screen and (max-width: 1000px) {
	.about-me-text {
		font-size: 1em !important;
	}
	.tech-icon {
		font-size: 3em !important;
	}
}
@media screen and (max-width: 650px) {
	.about-me-box {
		margin-top: 20%;
	}
}
@media screen and (max-width: 425px) {
	.techDisplay {
		width: 60px !important;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////   INTRO   ////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1600px) {
	// #intro-info-title {
	// 	font-size: 5em;
	// }
	// .intro-text-paragraph {
	// 	font-size: 3em;
	// }
}

@media screen and (min-width: 769px) {
	.scrolling-icon {
		width: 10vw;
		display: flex;
	}
	.scrolling-container {
		height: 80vh !important;
		justify-content: end;
		overflow-y: hidden;
		margin-top: 10vh;
	}
	.scrolling-track {
		height: 2000px !important;
	}
	.anim-1 {
		animation: scroll 24s linear infinite;
	}
	.anim-2 {
		animation: scroll 23s linear infinite;
	}
	.anim-3 {
		animation: scroll 26s linear infinite;
	}
	#intro-scroll-icons {
		overflow-y: hidden;
		.flex-start-class {
			justify-content: flex-start;
		}
		.flex-end-class {
			justify-content: flex-end;
		}
		.flex-center-class {
			justify-content: center;
		}
	}
	@keyframes scroll {
		0% {
			transform: translateY(100vh);
		}
		100% {
			transform: translateY(-270vh);
		}
	}
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////   NAVIGATION   ////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 768px) {
	.contact-icon-line {
		margin-top: 10px;
		width: 5px;
		background-color: white;
		height: 12.5vh;
	}
	.home-right-button {
		position: fixed;
		right: 0;
		background-color: transparent;
		transform: rotate(90deg);
		line-height: 0;
		z-index: 99999;
		@include hoverEffect;
		i {
			transform: rotate(45deg);
		}
		h1 {
			line-height: 0.2;
			@include navigation-text-styling;
		}
	}
}
