.tech-icon {
	color: white;
	font-size: 48px;
}
.axios-ico {
	background-image: url('../assets/images/axios-iconsvg.png');
	height: 48px;
	width: 48px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
