.header {
	box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.5);
	font-family: 'Kanit', sans-serif;
	width: 100%;
	position: fixed;
	height: 5em;
	background-color: #322d2d;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99999;
	a {
		text-decoration: none;
	}
	h1 {
		color: #476ccc;
		margin: 0;
		margin-left: 2em;
		margin-top: auto;
		margin-bottom: auto;
		letter-spacing: 0.03em;
		font-size: 2em;
		text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
		&:hover {
			cursor: pointer;
			color: grey;
		}
	}
	.right-side-header {
		display: flex;
		width:fit-content;
		h2 {
			text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
			color: #476ccc;
			&:hover {
				cursor: pointer;
				color: grey;
			}
		}
	}
}
@media (max-width: 1000px) and (min-width: 651px){
	.header {
		a{
			width: 50%;
			h1{
				margin-left: 0;
				font-size: 2em;
			}
		}
		.right-side-header{
			width: 50%;
			h2{
				width: 100px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
@media (max-width: 650px) {
	.header {
		h1 {
			display: none;
		}
		.right-side-header{
			width: 100%;
			display: flex;
			justify-content: space-around;
			h2{
				width: 40%;
			}
		}
	}
}
@media (max-width: 300px) {
	.header {
		font-size: 0.5em;
		h1 {
			display: none;
		}
	}
}
