.app {
	height: 100% !important;
}
html {
	height: 100vh;
}
body {
	height: 100vh;
}

////////////////////////////
/// Intro Section
////////////////////////////
.homeBody {
	font-size: 4em;
	text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
	text-align: center;
	justify-content: center;
	font-family: 'Kanit', sans-serif;
	height: 100vh;
	width: 100%;
	.homeText {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 60vh;
		width: 100%;
	}
	h1 {
		margin-bottom: 0.3em;
		font-size: 1em;
	}
	h2 {
		color: rgb(0, 0, 0, 0.65);
		font-size: 0.4em;
		width: 20em;
	}
}
.dividingLine{
	height: 2px;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 20%;
	margin-top: 20%;
	background-color: rgb(0, 0, 0, 0.2);
}

////////////////////////////////////
/// Animations
////////////////////////////////////
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
.fade-in {
	opacity: 0;
	animation-name: fadein;
	animation-duration: 5000ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.arrow {
	text-align: center;
	font-size: 0.4em;
	position: absolute;
	bottom: 2px;
	right: 2%;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
////////////////////////////////////
/// Media Queries
////////////////////////////////////
@media (max-width: 750px) {
	.homeText {
		h1 {
			font-size: 0.8em;
		}
		h2 {
			font-size: 0.2em;
		}
	}
	
}
