.app {
	height: 100% !important;
}
html {
	height: 100vh;
}
body {
	height: 100vh;
}

////////////////////////////
/// Intro Section
////////////////////////////
.homeBody {
	display: flex;
	font-size: 4em;
	text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: 'Kanit', sans-serif;
	height: 100vh;
	width: 100%;
	.introBox {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-top: 2em;
		img {
			height: 5em;
			width: 5em;
			background-color: #322d2d;
			border-radius: 30%;
			box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.2);
		}
	}
	.homeText {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 60vh;
	}
	h1 {
		margin-bottom: 0.3em;
		font-size: 1em;
		color: #322d2d;
	}
	h2 {
		color: rgb(50, 45, 45, 0.65);
		font-size: 0.4em;
		width: 20em;
	}
}

////////////////////////////////////
/// Animations
////////////////////////////////////
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
.fade-in {
	opacity: 0;
	animation-name: fadein;
	animation-duration: 3000ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.arrow {
	text-align: center;
	font-size: 0.4em;
	position: absolute;
	bottom: 2px;
	right: 2%;
	color: #322d2d;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
////////////////////////////////////
/// Media Queries
////////////////////////////////////

@media (max-width: 1000px){
	.introBox{
		align-items: center;
		img{
			height: 3em !important;
			width: 3em !important;
		}
	}
	.homeText{
		justify-content: center;
		h1{
			font-size: .8em;
		}
	}
}
@media (max-width: 800px) {
	.homeBody{
		align-items:flex-start;
	}
	.introBox{
		flex-direction: column;
		margin-top: 2.5em;
		img{
			margin-bottom: 20px;
		}
	}
	.homeText{
		height: 10vh !important;
		
	}
	.homeText {
		h1 {
			font-size: 0.8em;

		}
		h2 {
			font-size: 0.2em;
			margin-top: 0;
		}
	}
	
}
@media (max-width: 600px){
	.arrow{
		font-size: .3em;
	}
}
@media (max-width: 480px){
	.arrow{
		font-size: .2em;
	}
}
