.fade-in-text {
	transition: opacity 2s ease-in;
}
.intro-text-paragraph {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 350;
	font-size: 1.5rem;
	line-height: 30px;
	text-align: start;
	/* or 139% */
	background: linear-gradient(90deg, #ffffff 0%, #bebebe 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	span {
		font-weight: 400;
	}
}
#intro-info-title {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 350;
	font-size: 3em;
	height: auto;
	/* or 78% */
	text-align: start;
	background: linear-gradient(
		90deg,
		#ffffff 0%,
		#b1b1b1 40.27%,
		rgba(255, 255, 255, 0.52) 87.02%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	span {
		font-weight: 350;
	}
}
.intro-row {
	margin-top: 20px;
}
///////////////////////////////////////////////
$animationSpeed: 10s;
.scrolling-track {
	display: flex;
	width: calc(250px * 14) !important;
	max-width: calc(250px * 14) !important;
	padding: 0;
	animation: scroll $animationSpeed linear infinite;
}
.scrolling-container {
	height: 100px;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
	width: 70%;
	position: relative;
	margin: auto;
	&::before {
		left: 0;
		top: 0;
	}
}
.scrolling-icon-mobile {
	width: 10vw;
	display: flex;
	height: 50px;
	width: 250px;
}
.anim-1 {
	animation: scroll 18s linear infinite;
	height: 50px;
	width: 50px;
	margin-left: 25px;
	margin-right: 25px;
}
.anim-2 {
	animation: scroll 16s linear infinite;
	height: 50px;
	width: 50px;
	margin-left: 25px;
	margin-right: 25px;
}
.anim-3 {
	animation: scroll 20s linear infinite;
	height: 50px;
	width: 50px;
	margin-left: 25px;
	margin-right: 25px;
}
#intro-scroll-icons {
	overflow-y: hidden;
	.flex-start-class {
		align-items: flex-start;
	}
	.flex-end-class {
		align-items: flex-end;
	}
	.flex-center-class {
		align-items: center;
	}
}
.desktop-scroller {
	display: none;
}
.scrolling-track-mobile {
	width: calc(75px * 6);
	display: flex;
	flex-wrap: wrap;
}
// @keyframes scroll {
// 	0% {
// 		transform: translateX(100vh);
// 	}
// 	100% {
// 		transform: translateX(-270vh);
// 	}
// }
.mobile-scroller {
	height: 25%;
	.scrolling-container-mobile {
		height: 100%;
		width: 100%;
	}
	.scrolling-track-mobile {
		height: 100%;
	}
}
.bottom-row-spacer {
	height: 103px;
}

@keyframes scroll {
	0% {
		transform: translateX(100vw);
	}
	100% {
		transform: translateX(calc(-75px * 6));
	}
}
