.txt {
	color: white;
	text-align: start;
	font-family: 'Montserrat', sans-serif;
}
.deco-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	opacity: 0.5;
	margin-bottom: 0;
	margin-top: 0;
	.span-1 {
		letter-spacing: 0.5rem;
		font-size: 1.5rem;
	}
	.span-2 {
		letter-spacing: 0rem;
		font-size: 1.7rem;
	}
}
.span-3 {
	color: rgb(56, 56, 236);
}
.layer-1 {
	padding-left: 4vw;
}
.layer-2 {
	padding-left: 8vw;
}
.layer-2-5 {
	padding-left: 10vw;
}
.layer-3 {
	padding-left: 12vw;
}
.layer-3-5 {
	padding-left: 14vw;
}
.display-txt {
	width: 90%;
}
.display-main-txt {
	font-size: 5rem;
}
.txt-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	padding-top: 5%;
	padding-bottom: 5%;
}
.tagcloud {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 650;
	margin-top: 5%;
	color: white;
}
.tagcloud--item:hover {
	cursor: pointer;
	color: rgb(56, 56, 236);
}
.cloud-content {
	display: flex;
	justify-content: center;
}
.about-text-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;

	p {
		width: 100%;
		padding-right: 7.5%;
		font-size: 2rem;
	}
}
.display-sub-text {
	width: 100% !important;
}
.body-open-tag {
	padding-top: 5% !important;
}
