.txt {
	color: white;
	text-align: start;
	font-family: 'Montserrat', sans-serif;
}
.deco-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	opacity: 0.5;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 1rem;
	.span-1 {
		letter-spacing: 0.5rem;
		font-size: 0.8rem;
	}
	.span-2 {
		letter-spacing: 0rem;
		font-size: 1rem;
	}
}
.span-3 {
	color: rgb(56, 56, 236);
}
#about {
	.display-txt {
		span {
			color: rgb(56, 56, 236);
		}
	}
}
.layer-1 {
	padding-left: 4vw;
}
.layer-2 {
	padding-left: 8vw;
}
.layer-2-5 {
	padding-left: 10vw;
}
.layer-3 {
	padding-left: 12vw;
}
.layer-3-5 {
	padding-left: 14vw;
}
.display-txt {
	width: 90%;
}
.display-main-txt {
	font-size: 5rem;
}
.txt-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 50vw;
	height: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.canvas-html + div {
	width: 100%;
}
.about-text-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 5%;
	height: 100%;
	max-width: 90vw;

	p {
		width: 100%;

		font-size: 2rem;
	}
}
.display-sub-text {
	width: 100% !important;
}
.body-open-tag {
	padding-top: 5% !important;
}
.top-down-center-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 !important;
}
#resume {
	padding-bottom: 3%;
	h1 {
		font-size: 24px;

		padding-bottom: 2.5%;
		font-family: 'Montserrat', sans-serif;
	}
	button {
		&:hover {
			opacity: 0.6;
			cursor: pointer;
		}
		a {
			font-family: 'Montserrat', sans-serif;
			color: white;
		}
	}
}
@media (min-width: 769px) {
	.txt-container {
	}
}
@media (max-width: 769px) {
	.col-0 {
		display: none;
	}
	.top-level-column {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.txt-container {
		max-width: 100%;
	}

	.display-txt {
		width: 95% !important;
	}
	.deco-text {
		font-size: 0.5rem;
		.span-1 {
			font-size: 0.4rem;
		}
		.span-2 {
			font-size: 0.5rem;
		}
	}
	.display-main-txt {
		font-size: 2.5rem;
	}
	.about-text-container {
		p {
			font-size: 1rem;
		}
	}
	.layer-1 {
		padding-left: 2vw;
	}
	.layer-2 {
		padding-left: 4vw;
	}
	.layer-2-5 {
		padding-left: 5vw;
	}
	.layer-3 {
		padding-left: 6vw;
	}
	.layer-3-5 {
		padding-left: 7vw;
	}
}
