@mixin bg-theme {
	background: linear-gradient(
		89.68deg,
		#00012e 0.34%,
		#080a4a 24.13%,
		#0e1057 41.78%,
		#0d0f54 49.57%,
		#0a0c4a 75.22%,
		#040522 99.78%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.my-bg-theme {
	@include bg-theme;
}
// .gif-bg-main {
// 	background-image: url('https://wallpaperaccess.com/full/7270387.gif');
// 	background-repeat: repeat;
// 	background-size: cover;
// 	background-position: center;
// }
// .gif-bg-projects {
// 	background-image: url('https://wallpaperaccess.com/full/869923.gif');
// 	background-repeat: repeat;
// 	background-size: cover;
// 	background-position: center;
// }
// .gif-bg-tech {
// 	background-image: url('https://wallpaperaccess.com/full/8406764.gif');
// 	background-repeat: repeat;
// 	background-size: cover;
// 	background-position: center;
// }
.swiper-pagination-bullet {
	width: 15px !important;
	height: 15px !important;
	margin-bottom: 50% !important;
}
.swiper-pagination {
	font-size: 30px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	right: auto !important;
	left: 8px !important;
}
.swiper-pagination-bullet {
	background: black !important;
	border: white 2px solid;
}
.swiper-pagination-bullet-active {
	opacity: var(--swiper-pagination-bullet-opacity, 1);
	background: var(
		--swiper-pagination-color,
		var(--swiper-theme-color)
	) !important;
}
.swiper-slide {
}
.page-cover {
	position: relative;
	z-index: 9999;
}
.overflow {
	height: 100vh;
	overflow-y: scroll !important;
	z-index: 10000;
}
