.navbar-brand-text {
	font-weight: 600;
	font-size: 30px;
}
.navbar-selector {
	background-color: rgb(0, 0, 0, 0.8);
	justify-content: space-between;
	position: fixed;
	width: 100vw;
	padding-left: 5vw;
	padding-right: 5vw;
	z-index: 10;
	a {
		&:hover {
			cursor: pointer;
			opacity: 0.5;
		}
	}
}
.nav-link-box {
	margin-left: 0;
	margin-right: 0;
}
@media (min-width: 2560px) {
}
