@import './_mixins.scss';
@import './_animations.scss';
.nav-personal-outline {
	position: absolute;
	display: flex;
	bottom: 0;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	color: white;

	.home-top-button {
		position: absolute;
		top: 64px;
		line-height: 1;
		margin-top: 5px;
		z-index: 99999;
		@include hoverEffect;
		h1 {
			line-height: 0.2;
			@include navigation-text-styling;
		}
	}
	.home-right-button {
		display: none;
	}
	.home-bottom-button {
		position: inherit;
		bottom: 0;
		line-height: 0;
		margin-bottom: 5px;
		z-index: 99999;
		@include hoverEffect;
		h1 {
			line-height: 0.2;
			@include navigation-text-styling;
		}
	}
}
.arrow-icon {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.arrow-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.arrow-left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.arrow-up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.arrow-down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.nav-hidden {
	display: none;
}
.contact-icons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 99999;
	left: 0px;
	bottom: 0px;
	animation: fade-in 5s;
	margin: 10px;
}
.contact-icon {
	margin-bottom: 10px;
	width: 40px;
	font-size: 40px;
	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
	&:active {
		transform: translateY(2px);
	}
}
