#app {
	height: 100vh;
}
html,
body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
	height: 100% !important;
}
html {
	height: 100%;
}
#root {
	height: 100%;
}
.App {
	height: 100%;
}
.swiper {
	height: 100%;
}
.swiper-slide {
	overflow-y: hidden;
}
